<!DOCTYPE html>
<html lang='nl' xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fakepedia</title>
    <link rel='stylesheet' href='../static/style.css'>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
<div id="fakepedia">
    <header>
        <input id="searchInput" v-model="lemma" v-on:change="generate" v-bind:[inputdisabled]="inputdisabled" placeholder="Doorzoek Fakepedia">
        <h1 v-html="title">Fakepedia</h1>
    </header>
    <div class="spinner" v-bind:style="spinnerStyle">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <main v-html="body" v-bind:style="bodyStyle" style="display: none;"></main>
    <hr v-bind:style="bodyFinishedStyle" style="display: none;">
</div>

<script>
    const app = new Vue({
        el: '#fakepedia',

        data: {
            title: 'Fakepedia',
            body: '<p>Welkom bij <strong>Fakepedia</strong>, de eerste Nederlandse fake Wikipedia! Gebruik de ' +
                'zoekfunctie om Fakepedia zelf te raadplegen over een onderwerp naar keuze.</p>' +
                '<p>Fakepedia is een demonstratie van natural language processing (NLP) op basis van machine learning. ' +
                'Het gebruikt een recurrent neuraal netwerk (RNN) dat tien keer getraind is op de volledige tekst van de ' +
                'Nederlandse Wikipedia. Het resultaat is een neuraal netwerk dat teksten kan genereren die opmerkelijk ' +
                'veel lijken op artikelen in de echte Wikipedia.</p>',
            lemma: '',
            spinnerStyle: {},
            bodyStyle: {},
            bodyFinishedStyle: {},
            inputdisabled: ''
        },

        methods: {
            fetchData: function (lemma = 'xxbos', pars) {
                const request = new XMLHttpRequest();
                let self = this;
                request.open('GET', 'test?start=' + lemma + '&pars=' + pars);
                request.onprogress = function () {
                    let result = request.responseText
                        .replace(/\n/g, ' ')
                        .replace(/ \./g, '.')
                        .replace(/ ,/g, ',')
                        .replace(/\( /g, '(')
                        .replace(/ \)/g, ')')
                        .replace(/"\s(.*?)\s"/g, '"$1"');
                    let parts = result.split(/(.*?)<br><br>/);
                    let title = parts[1].trim();
                    if (!title) {
                        title = '&nbsp;'
                    }
                    self.title = title;
                    let lemma = self.title.split(/ \(/)[0].trim();
                    self.body = '';
                    for (let part of parts.slice(3)) {
                        if (part === parts[3]) {
                            part = part.replace(lemma, '<strong>' + lemma + '</strong>');
                            self.setStatus('GENERATING')
                        }
                        part = part.replace(/(.*?)/, '<p>$1</p>');
                        self.body += part
                    }
                };
                request.onloadend = function () {
                    self.setStatus('FINISHED')
                };
                request.send()
            },

            generate() {
                if (this.lemma) {
                    this.title = this.lemma;
                    this.fetchData('xxbos ' + this.lemma + '%0A%0A' + this.lemma, 5)
                } else {
                    this.fetchData('xxbos', 6)
                }
                this.lemma = '';
                this.setStatus('WAITING')
            },

            setStatus(status) {
                this.inputdisabled = (status === 'FINISHED' ? '' : 'disabled');
                this.spinnerStyle = (status === 'WAITING' ? {display: 'inline-block'} : {display: 'none'});
                this.bodyStyle = (status === 'WAITING' ? {display: 'none'} : {display: 'block'});
                this.bodyFinishedStyle = (status === 'FINISHED' ? {display: 'block'} : {display: 'none'})
            }
        },

        created() {
            this.setStatus('FINISHED')
        }
    })


</script>
</body>
</html>


