body {
    padding: 0 10px;
}

h1 {
    font-family: "Linux Libertine", Georgia, Times, serif;
    font-weight: normal;
    font-size: 28.8px;
    border-bottom: 1px solid #a2a9b1;
}

main {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 22px;
}

#searchInput {
    border: 1px solid #a2a9b1;
    box-sizing: border-box;
    display: block;
    float: right;
    height: 28px;
    width: 182px;
    font-family: system-ui;
    font-size: 0.8125em;
    padding: 0.4em 1.84615385em 0.4em 0.4em;
}}